<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.ideaction.raelsy">

    <!-- Internet Access Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Location Access Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Intro Screen -->
        <activity
            android:name=".screens.IntroActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- Login Screen -->
        <activity
            android:name=".screens.LoginActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- Registration -->
        <activity
            android:name=".screens.RegisterByMailActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize" />

        <!-- Sign In -->
        <activity
            android:name=".screens.SignInActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize" />

        <!-- Location Enable -->
        <activity
            android:name=".screens.LocationEnableActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize" />

        <!-- Main Menu TODO Change to Fragment-->
        <activity
            android:name=".screens.fragments.MainMenuFragment"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize" />

        <!-- Profile Screen Activity -->
        <activity
            android:name=".screens.ProfileActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize" />

    </application>

</manifest>